#cssmenut{ height:37px; display:block; padding:0; margin: 0 auto;  border:1px solid; border-radius:5px; } 
#cssmenut> ul {list-style:inside none; padding:0; margin:0; color: #111111;} 
#cssmenut > ul > li {list-style:inside none; padding:0; margin:0; float:left; display:block; position:relative;} 
#cssmenut > ul > li > a{ outline:none; display:block; position:relative; padding:12px 20px; font:normal 13px/100% Arial, Helvetica, sans-serif; text-align:center; text-decoration:none;  } 
#cssmenut > ul > li:first-child > a{border-radius:5px 0 0 5px;} 
#cssmenut > ul > li > a:after{ content:''; position:absolute; border-right:1px solid; top:-1px; bottom:-1px; right:-2px; z-index:99; } 
#cssmenut ul li.has-sub:hover > a:after{top:0; bottom:0;} 
#cssmenut > ul > li.has-sub > a:before{ content:''; position:absolute; top:18px; right:6px; border:5px solid transparent; border-top:5px solid #fff; } 
#cssmenut > ul > li.has-sub:hover > a:before{top:19px;} 
#cssmenut ul li.has-sub:hover > a{ background:#3f3f3f; border-color:#3f3f3f; padding-bottom:13px; padding-top:13px; top:-1px; z-index:999; } 
#cssmenut ul li.has-sub:hover > ul, #cssmenut ul li.has-sub:hover > div{display:block;} 
#cssmenut ul li.has-sub > a:hover{background:#3f3f3f; border-color:#3f3f3f;} 
#cssmenut ul li > ul, #cssmenut ul li > div{ display:none; width:auto; position:absolute; top:38px; padding:10px 0; background:#3f3f3f; border-radius:0 0 5px 5px; z-index:999; }  
#cssmenut ul li > ul{width:200px;} 
#cssmenut ul li > ul li{display:block; list-style:inside none; padding:0; margin:0; position:relative;} 
#cssmenut ul li > ul li a{ outline:none; display:block; position:relative; margin:0; padding:8px 20px; font:10pt Arial, Helvetica, sans-serif; color: #333333; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.5); } 

#cssmenut, #cssmenut > ul > li > ul > li a:hover{ background:#ff9812; background:-moz-linear-gradient(top, #ff9812 0%, #e17310 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9812), color-stop(100%,#e17310)); background:-webkit-linear-gradient(top, #ff9812 0%,#e17310 100%); background:-o-linear-gradient(top, #ff9812 0%,#e17310 100%); background:-ms-linear-gradient(top, #ff9812 0%,#e17310 100%); background:linear-gradient(top, #ff9812 0%,#e17310 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9812', endColorstr='#e17310',GradientType=0); } 
#cssmenut{border-color:#b05a0d;} 
#cssmenut> ul > li > a{border-right:1px solid #b05a0d; color:#000;} 
#cssmenut > ul > li > a:after{border-color:#ffa32b;} 
#cssmenut > ul > li > a:hover{background:#e17310; color:#ffffff} 
//  text-shadow:1px 1px 0 rgba(0,0,0, 0.4);