.cloud_tags{

	display: block !important;
	width: 100%;

}

.cloud_tray ul, .cloud_tray li{

	margin: 0;

}

.cloud_list{

		list-style: none;

		margin: 0;

		padding: 0;

		display: flex;

		justify-content: space-around;	

		flex-direction: row;

		flex-wrap: wrap;

	}



	.cloud_item a:link,

	.cloud_item a:visited{

		color: #000;

	}

	.cloud_item a:hover{

		color: #00ad61;

	}

	a.cloud_item:hover{

		opacity: 1;

		color: #00ad61;

	}

	.cloud_item a{

		box-sizing: border-box;

		padding: 0.5rem 1rem;

		display: inline-block;

	}



@media (max-width: 1023px){

	.cloud_item{

		margin-bottom: 1.5rem;

	}

}

@media (min-width: 1024px){

	.cloud_item{

		height: 4.0rem;

		text-align: center;

		color: #000;

		text-shadow: 1px 1px 1px rgba(0,0,0,0.2);

	}

	.sphere_cloud_item{

		min-width: 30%;

	}

	

	.big_teg,

	.small_teg,

	.semismall_teg,

	.medium_teg,

	.semibig_teg

	{
		font-size: 1rem;

		animation-duration: 24s;

		animation-timing-function: linear;

		animation-iteration-count: infinite;

	}

	.big_teg{


		animation-name: from_big;

	}

	.small_teg{

		animation-name: from_small;

	}

	.semismall_teg{

		animation-name: from_semismall;

	}

	.medium_teg{

		animation-name: from_medium;

	}

	.semibig_teg{

		animation-name: from_semibig;

	}

}





@media (max-width: 991px){

	.cloud_item a{

		box-sizing: border-box;

		padding: 0.5rem 1rem;

	}

}

