*.htaccess
*.htaccess-
*error_log
*.DS_Store
*.config
*.log
*.txt
*.csv
*.mp3
*.mp4
*.avi
*.mov
*.ogg
*.raw
*.jpg
*.jpeg
*.png
*.gif
*.webp
*.exe
*.dll 
*.so
*.pdf
*.psd
*.ai
*.map
*.emtp
*.ecmp
*.cmp
*.mtp
*.ccmp
*.emz
*.mpt
*.flb
*.xob
*.ACD
*.bin
*.dwg
*.gpc
*.plb
*.glb
*.xlsx
*.xls
*.z
*.ctg.z
*.eds
*.mtl
*.obj
*.zip
*.rar
*.sql
*.min.js
*.apk
*.package
*.icc
*.cmtp
/upload_files
/uploads
/orders/excel
/admin/config/admin_dbcon.php
sc/phpmorphy/cache/
sc/phpmorphy/data/
sc/phpmorphy/temp/
sc/phpmorphy/docs/
sc/phpmorphy/examples/