#glide_new_products .card-image{
    padding-top: 10px;
    overflow: hidden;
    width: 130px;
    height: 100px;
    margin: 1rem auto;
	padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background-size: contain !important;
}

.model_image {
    background-size: contain !important;
}

#glide_new_products .cutted_text {
    padding: 10px 15px;
    font-size: var(--font-size-xs);
    height: 200px;
    overflow: hidden;
}

#glide_new_products .hor_gallery_item_hover_link.bottom_hide {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #00ad61;
    color: #fff;
    border-radius: 6px 0px 6px 0px;
    padding: 4px 8px;
    font-size: 14px !important;
    font-weight: 500;
    opacity: 0;
}
@media (max-width: 1280px) {
  .glide__slide a { opacity: 1; }
  .bottom_hide { opacity: 1 !important; }
}
#glide_new_products a:hover .hor_gallery_item_hover_link.bottom_hide {
    opacity: 1;
    transition: 0.2s;
}