html, body {
    background: #eee;
    font-size: 17px;
}

body .container {
    background: #fff;
}

h1, h2, h3, h4, h5, h6 {

    font-weight: 600;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 1.05rem;
}

h6 {
    font-size: 1rem;
}

.box_message{
    text-align: center;
    font-size: large;
    background: #00d1b255;
}

.sticky_wrapper{
    min-height: 50px;

}
.sticky.stickytop {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}


.sticky.stickytop .product_edit__buttons{
    max-width: 1320px;
    margin: auto;
}
