.vertical_slider_newproductsonmainpage {
    background: #fff;
    padding: 0 10px;
    position: relative;
    margin-top: 18px;
    margin-left: -15px;
    margin-right: 19px;
}

.vertical_slider_newproductsonmainpage a {
    text-decoration: none;
}

.vertical_slider_newproductsonmainpage .vertical_slider_newsonmainpage__item {
    padding: 5px;
}

.vertical_slider_newproductsonmainpage .vertical_slider_newsonmainpage__item_wrapinn {
    padding: 0px 10px 0px 0px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    transition: 0.1s;
    overflow: hidden;
    height: 130px;
}

.vertical_slider_newproductsonmainpage .vertical_slider_newsonmainpage__item_wrapinn:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    padding: 1px 11px 1px 1px;
    margin: -1px;
}

.vertical_slider_newsonmainpage__item_date {
    background: #bce9bc;
    color: #333;
    padding: 0px 5px;
    font-size: 11px;
    font-weight: 400;
    margin-right: 4px;
}

.vertical_slider_newsonmainpage__item__item_link {
    display: block;
    position: relative;
    height: 130px;
}

.vertical_slider_newsonmainpage__item__item_name {
    padding: 10px 0px 0px;
    color: #333;
    font-size: 13px;
    line-height: 15px;
    font-weight: bold;
    text-decoration: none;
    text-align: left;

}

.vertical_slider_newsonmainpage__item__item_name_wrap {
    display: inline;
    padding-top: 5px;
}

.vertical_slider_newsonmainpage__item__item_picture_preview_wrap {
    display: block;
    float: left;
    width: 200px;
    margin-right: 10px;
    background: #f9f9f9;
    padding: 5px;
    box-sizing: border-box;
}

.vertical_slider_newsonmainpage__item__item_picture_preview {
    background: center/100% auto no-repeat;
    width: 100%;
    height: 120px;
}

.vertical_slider_newsonmainpage__item__item_text_preview_wrap {
    padding: 5px 0px 5px;
}

.vertical_slider_newsonmainpage__item__item_text_preview {
    color: #333;
    line-height: 1.1;
    font-size: 13px;
}


/*Вериткальная карусель CSS*/
.vertical_slider_newproductsonmainpage .jscarousal-vertical { /* ширина и высота коробки для слайдов */
    width: 540px;
    height: 490px;
    margin: 0;
    padding: 0;
    position: relative;

}

.vertical_slider_newproductsonmainpage .jscarousal-contents-vertical { /* ширина и высота области где слайды */

    width: 540px;
    height: 415px;
}

.vertical_slider_newproductsonmainpage .jscarousal-vertical-back, .vertical_slider_newproductsonmainpage .jscarousal-vertical-forward {
    position: absolute;
    width: 40px;
    left: 50%;
    margin-left: -20px;
    height: 30px;
    background-color: #000;
    color: White;
    position: relative;
    cursor: pointer;
    z-index: 50;
    opacity: 0.3;
    transition: 0.2s;
}

.vertical_slider_newsonmainpage:hover .jscarousal-vertical-back,
.vertical_slider_newsonmainpage:hover .jscarousal-vertical-forward {
    opacity: 0.7;
    background-color: #34ab5e;
}

.vertical_slider_newsonmainpage:hover .jscarousal-vertical-back,
.vertical_slider_newsonmainpage:hover .jscarousal-vertical-forward {
    opacity: 0.7;
    background-color: #34ab5e;
}

.vertical_slider_newproductsonmainpage .jscarousal-vertical-back:hover,
.vertical_slider_newproductsonmainpage .jscarousal-vertical-forward:hover {
    opacity: 1 !important;
    background-color: #34ab5e;
}

.vertical_slider_newproductsonmainpage .jscarousal-vertical-back {
    background-image: url(/cms/components/vertical_slider/templates/default/img/arr-up.png);
    background-repeat: no-repeat;
    background-position: center;
    top: 15px;
}

.vertical_slider_newproductsonmainpage .jscarousal-vertical-forward {
    background-image: url(/cms/components/vertical_slider/templates/default/img/arr-down.png);
    background-repeat: no-repeat;
    background-position: center;
}

.vertical_slider_newproductsonmainpage .jscarousal-contents-vertical > div {
    position: absolute;
    top: 35px;
    width: 100%;
    height: 425px;
}

.vertical_slider_newproductsonmainpage .fog-white {
    position: absolute;
    right: 0;
    bottom: -2px;
    width: 315px;
    height: 27px;
    display: block;
    background: left 1px url(/images/fog-white.png) repeat-x;
}


/*#new_products_on_mainpage .jscarousal-contents-vertical > div > div span{
    display: block;
    width: 70%;
    text-align: center;}*/
/*Вериткальная карусель CSS*/

/*Общие*/
.hidden {
    display: none;
}

.visible {
    display: block;
}

.thumbnail-active {
    filter: alpha(opacity=100);
    opacity: 1.0;
    cursor: pointer;
}

.thumbnail-inactive {
    filter: alpha(opacity=90);
    opacity: 0.9;
    cursor: pointer;
}

.thumbnail-text {
    color: #E0E0E0;
    font-weight: bold;
    text-align: left;
    display: block;
    padding: 2px 2px 2px 0px;
    line-height: 16px;
    font-size: 12px;
}

.thumbnail-text a {
    color: #E0E0E0;
    text-decoration: none;
    font-size: 12px;
}

.thumbnail-text a:hover {
    color: #fff;
}
