.popup_confirm{
    display: block;
    backdrop-filter: blur(1px);
    background: #000000cc;
    position: fixed;
    top:0%;
    left: 0%;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.popup_confirm .question{
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.6rem;
}
.popup_confirm .question.action-delete{
    color: red;
}

.popup_confirm .wrapinn
{
    position: fixed;
    top:40%;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    background: #eee;
    padding: 2rem;
    box-sizing: border-box;
}
.product_list .popup_confirm .buttons{
    width: 100%;
}