#rou_desc{
    text-align:justify;
    width:100%;
    font-family: Verdana, 'Lucida Grande';
    margin: 10px auto;
}
.mytab2{
    margin: 10px auto;
}
.tabs_wrapper{
    margin: 10px auto;
}
#footer font{
    color: white;
}