.block_order {
    margin: 30px auto;
}
.block_order__title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 30px auto;
}
.block_order__gray_panel {
    background: #dff3df;
    padding: 30px;
}
.block_order__flex_block {
    /*display: flex;*/
    justify-content: space-between;
    gap: 30px;
}
.block_order__block_button {
    text-align: center;
    padding: 30px;
}
.catalog_cart .panel_itogo {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    background: #dff3df;
    margin: 20px auto 0;
    font-weight: bold;
}
.oformit_zakaz_contact_block input[type="text"], .oformit_zakaz_contact_block textarea {
	width: 250px;
    line-height: 26px;
    padding: 1px 27px 1px 5px;
    box-sizing: border-box;
    outline: none;
	border: 1px solid #fff;
    border-radius: 4px;
    background: white;
    vertical-align: middle;
}
.catalog_cart .panel_itogo_group {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    background: #dff3df;
    margin: 0px 0;
    font-weight: bold;
}
.catalog_cart .panel_itogo_group > div {
    padding: 15px;
    font-size: 1em;
}
.catalog_cart__warning {
    /*display: flex;*/
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 10px 10px 10px 20px;
    background: #dff3df;
    line-height: 1.2;
}
.oformit_zakaz_delivery_block input{
    margin-right: 5px;
}
.oformit_zakaz_delivery_block label{
    /*display: inline-block;
    padding: 5px 0;
    white-space: nowrap;
    user-select: none;*/
}
.catalog_cart__warning p {
    margin: 8px 0;
}
.catalog_cart .catalog_cart__warning .zakazbut {
    display: inline-block;
    padding: 8px 23px;
    cursor: not-allowed;
    font-size: larger;
    background: #44bb6e;
    color: white;
    cursor: pointer;
}
.catalog_cart .catalog_cart__warning .zakazbut:hover {
    background: #34ab5e;
}
.order_send_mess{
    background: #dff3df;
    padding: 50px;
    text-align: center;
    font-size: large;
}
.catalog_cart .block_order__block_button .zakazbut {
    display: inline-block;
    padding: 8px 23px;
    background: #ededed;
    color: #333;
    border: 1px solid #333;
    transition: 0.2s;
    cursor: not-allowed;
    font-size: larger;
}
.catalog_cart .block_order__block_button .zakazbut.active {
    background: #44bb6e;
    color: white;
    cursor: pointer;
    border: 1px solid #44bb6e;
}
.catalog_cart .block_order__block_button .zakazbut.active:hover {
    background: #34ab5e;
}
.catalog_toolbar.fixed {
    opacity: 0.92 !important;
    position: fixed;
    z-index: 1100;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    box-sizing: border-box;
    /*background: rgba(68, 187, 110, 0.97);*/
    color: white;
    transition: 0.2s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}
.catalog_toolbar:hover {
    opacity: 0.99 !important;
    /*
    background: rgba(68, 187, 110, 1);
    height: 50px;
    padding-top: 8px;
    */
}
.catalog_toolbar__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.catalog_toolbar__item_group {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.catalog_toolbar__item {
    display: flex;
    height: 34px;
    font-size: 16px;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.2s;
    padding: 0 10px;
    user-select: none;
}
.catalog_toolbar__item:hover {
    background: rgba(255, 255, 255, 0.4);
}
.catalog_toolbar__item .compare-icon {
    width: 20px;
    height: 18px;
    display: inline-block;
    background: center url("images/icon-compare-white.webp") no-repeat;
    margin-right: 5px;
}
.catalog_toolbar__item .favorite-icon {
    width: 20px;
    height: 16px;
    display: inline-block;
    background: center url("images/icon-favorite-white.webp") no-repeat;
    margin-right: 5px;
}
.catalog_toolbar__item .viewed-icon {
    width: 20px;
    height: 16px;
    display: inline-block;
    background: center url("images/icon-viewed-white.webp") no-repeat;
    margin-right: 5px;
}
.catalog_toolbar__item .cart-icon {
    width: 20px;
    height: 16px;
    display: inline-block;
    background: center url("images/icon-cart-white.webp") no-repeat;
    margin-right: 5px;
}
.catalog_toolbar__item .number {
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    min-width: 16px;
    padding: 0 5px;
    height: 16px;
    display: inline-block;
    border-radius: 50px;
    background: white;
    color: rgba(68, 187, 110, 1);
    margin-left: 5px;
    text-align: center;
}
.catalog_toolbar__item .number:empty {
    display: none;
}
/****************************************************************************************************************/
.component_catalog_cart__panel_of_products a{
    color: #000;
    text-decoration: none;
}
.component_catalog_cart__panel_of_products table{
    width: 100%;
}
.component_catalog_cart__panel_of_products table tr:nth-child(2n){
    background: #f9f9f9;
}
.component_catalog_cart__panel_of_products table tr:hover{
    background: #f1f9f1;
}
.component_catalog_cart__panel_of_products div.bg_light{
    background: #f1f9f1;
}
.component_catalog_cart__panel_of_products div.bg_light{
    background: #f1f9f1;
}
.component_catalog_cart__panel_of_products tr:hover a{
    text-decoration: underline;
}
/****************************************************************************************************************/
.component_catalog_cart__panel_of_products .td_buttons{
    opacity: 0;
    transition: 0.3s;
    position: relative;
}
.component_catalog_cart__panel_of_products .view-mode-cart .td_buttons{
    opacity: 1;
}
.component_catalog_cart__panel_of_products tr:hover .td_buttons{
    opacity: 1
}
.component_catalog_cart__panel_of_products .td_buttons .buttons_panel{
    position: absolute;
    top: 1px;
    width: 160px;
    padding:0 10px;
    text-align: center;
}
/*
.component_catalog_cart__panel_of_products .td_buttons .buttons_panel{
    width: 100%;
    padding: 3px;
    text-align: center;
}*/
.component_catalog_cart__panel_of_products .td_buttons .buttons_panel button, input[type=file]::file-selector-button {
    background-color: #44bb6e;
    color: white;
    border: none;
    display: inline-block;
    cursor: pointer;
    background-position: center;
    transition: 0.2s;
    width: 40px;
    margin: 5px 0;
    height: 40px;
    /*background: none;*/
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    white-space: nowrap;
}
input[type=file]::file-selector-button {
	width: 140px;
	margin-right: 10px;
	text-align: center;
	text-transform: uppercase;
}
.component_catalog_cart__panel_of_products tr .td_buttons .buttons_panel button, div.td_buttons div.buttons_panel button, .flying_row button {
    background-color: #44bb6e;
    color: white;
    width: 110px;
    margin: 5px 0;
    height: auto;
    border: solid 1px #44bb6e;
    display: inline-block;
    cursor: pointer;
    /*background-size: 100% auto;*/
    background-position: center;
    transition: 0.2s;
    box-sizing: border-box;
    padding: 10px;
	text-transform: uppercase;
}
.component_catalog_cart__panel_of_products .td_buttons .buttons_panel{
    padding: 3px;
    text-align: center;
}
.component_catalog_cart__panel_of_products .view-mode-cart .td_buttons .buttons_panel{
    position: relative;
    top: 1px;
    left: 0px;
    width: 110px;
    padding: 3px 10px;
    text-align: center;
}
/*.component_catalog_cart__panel_of_products .view-mode-cart tr .td_buttons .buttons_panel button, .flying_row button , button.flying_row {
    width: 90px;
    margin: 5px 0;
    height: auto;
    background: none;
    border-radius: 5px;
    color: #000;
    text-align: center;
    padding: 3px 5px;
    border: 1px solid rgba(255,255,255,0);
    box-sizing: border-box;
    white-space: nowrap;
}*/
.component_catalog_cart__panel_of_products .td_buttons .buttons_panel button:hover, button.flying_row  {
    background-color: #34ab5e;
    border-color:  #34ab5e;
    color: #ffffff;
}
.component_catalog_cart__panel_of_products .view-mode-cart tr .td_buttons  .buttons_panel button.active
{
    background-color: #dbf8db;
	color: black;
    border: 1px solid #3aca6c;
}
.component_catalog_cart__panel_of_products .view-mode-cart tr .td_buttons .buttons_panel button:hover{
    background-color: #44bb6e;
    border: 1px solid #44bb6e;
    color: #fff;
}
.component_catalog_cart__panel_of_products .view-mode-cart tr .td_buttons  .buttons_panel button.active:hover
{
    opacity: 0.5;
}
.component_catalog_cart__panel_of_products .view-mode-cart .buttons_panel button.active span{
    display: inline-block;
    height: 8px;
    width: 8px;
    background-color: #3aca6c !important;
    margin-left: -14px;
    margin-right: 6px;
    margin-bottom: 0px;
    display: none;
}
.component_catalog_cart__panel_of_products .sort_mode {
    border: 1px solid #e0e0e0;
    display: inline-block;
    height: 30px;
    padding: 5px 10px;
}
.component_catalog_cart__panel_of_products .section_list_view_sort {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 5px;
    float: right;
    height: 30px;
    width: 250px;
    text-align: right;
    padding: 5px 5px;
    box-sizing: border-box;
}
.component_catalog_cart__panel_of_products .section_list_view_sort select{
    padding: 4px;
}
.component_catalog_cart__panel_of_products .section_list_view_sort select option{
    display: block;
    padding: 5px;
}
.component_catalog_cart__panel_of_products .section_list_view_mode {
    display: block;
    height: 30px;
    width: 160px;
    text-align: right;
}
.component_catalog_cart__panel_of_products .section_list_view_mode {
    display: flex;
    align-items: center;
    justify-content: right;
}
.component_catalog_cart__panel_of_products .section_list_view_mode .section_list_view_mode_button{
    display: inline-block;
    height: 28px;
    width: 30px;
    border: 1px solid #808080;
    border-radius: 3px;
    margin-left: 5px;
    background: url("/abacus/templates/rusavtomatika_bulma/images/buttons_list_view_mode.png") no-repeat;
    cursor: pointer;
}
.component_catalog_cart__panel_of_products .section_list__set_availablity{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 29px;
    width: auto;
    text-align: right;
    padding: 5px 5px;
    box-sizing: border-box;
}
.component_catalog_cart__panel_of_products .section_list__set_diagonal_span {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 29px;
    width: 400px;
    text-align: right;
    padding: 5px 5px;
    box-sizing: border-box;
}
.section_list__set_diagonal_span__button, .section_list__set_availablity__button{
    display: inline-block;
    height: 28px;
    margin-top: 1px;
    width: auto;
    padding: 0 8px;
    border: 1px solid #808080;
    border-radius: 3px;
    margin-left: 5px;
    cursor: pointer;
    background: #eee;
    box-sizing: border-box;
    user-select: none;
    font-size: 12px;
    line-height: 28px;
}
.section_list__set_diagonal_span__button.active, .section_list__set_diagonal_span__button:hover,
.section_list__set_availablity__button.active, .section_list__set_availablity__button:hover
{
    background-color: #dbf8db;
    border: 1px solid #44bb6e;
}
.component_catalog_cart__panel_of_products .section_list_view_mode .button_view_mode_tiles {
    background-position: 6px 7px;
}
.component_catalog_cart__panel_of_products .section_list_view_mode .button_view_mode_list {
    background-position: -26px 5px;
}
.component_catalog_cart__panel_of_products .section_list_view_mode .button_view_mode_list.active {
    background-color: #dbf8db;
    background-position: -26px -30px;
    border: 1px solid #44bb6e;
}
.component_catalog_cart__panel_of_products .section_list_view_mode .button_view_mode_table {
    background-position: -57px 5px;
}
.component_catalog_cart__panel_of_products .section_list_view_mode .button_view_mode_table.active {
    background-color: #dbf8db;
    background-position: -57px -30px;
    border: 1px solid #44bb6e;
}
.component_catalog_cart__panel_of_products .section_list_view_mode .button_view_mode_tiles:hover {
    background-position: 6px -30px;
}
.component_catalog_cart__panel_of_products .section_list_view_mode .button_view_mode_list:hover {
    background-position: -26px -30px;
}
.component_catalog_cart__panel_of_products .section_list_view_mode .button_view_mode_table:hover {
    background-position: -57px -30px;
}
.component_wrapper {
}
.component_catalog .section_link {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    height: 170px;
    margin-bottom: 30px;
    transition: 0.2s;
    background: white;
}
.component_catalog .section_link:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    background: #f8f8f8;
}
.component_catalog .title {
    font-size: 16px;
    line-height: 1.1;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 8px;
    height: 36px;
    text-align: center;
}
.preview_image {
    width: 80%;
    background: center no-repeat;
    background-size: contain;
    height: 110px;
    margin: 0 auto 0;
}
.component_catalog_cart__panel_of_products .component_catalog_cart__panel_of_products__tags {
    padding: 10px;
    text-align: center;
    background: #f6f6f6;
    margin-bottom: 15px;
}
.component_catalog_cart__panel_of_products .component_catalog_cart__panel_of_products__filter {
    margin-bottom: 15px;
    margin-right: -31px;
}
.component_catalog_cart__panel_of_products .component_catalog_cart__panel_of_products__panels {
    padding: 10px;
    text-align: center;
    background: #f6f6f6;
    margin-bottom: 15px;
}
.section_list_view_mode_button_wrapper{
    height: 35px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
}
.component_catalog_cart__panel_of_products .view-mode-cart .model, .component_catalog_cart__panel_of_products .view-mode-cart .td_price {
    font-weight: 600;
    font-size: 1.3em;
    line-height: 1.5;
    text-align: center;
}
.component_catalog_cart__panel_of_products .view-mode-cart table td {
    padding: 10px 5px;
    border: none;
    vertical-align: middle;
    /*border-bottom: 1px solid #ccc;*/
}
.component_catalog_cart__panel_of_products .view-mode-cart div div {
    padding: 5px;
    border: none;
    vertical-align: middle;
    /*text-align: center;*/
    /*border-bottom: 1px solid #ccc;*/
}
tr.flying_row  td{
    background: #dbf8db;
    vertical-align: middle;
    opacity: 0.5;
}
.component_catalog_cart__panel_of_products .view-mode-cart table td.td_model{
    width: 25%;
    line-height: 1.2;
}
.component_catalog_cart__panel_of_products .view-mode-cart table td.td_short_description{
    width: 40%;
    line-height: 1.5;
}
.component_catalog_cart__panel_of_products .view-mode-cart .td_quantity{
    width: 150px;
    line-height: 1.5;
    text-align: center;
}
.component_catalog_cart__panel_of_products .view-mode-cart .quantity{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.component_catalog_cart__panel_of_products .view-mode-cart .quantity .quantity_value{
    width: 30px;
    text-align: center;
    font-weight: bold;
}
.component_catalog_cart__panel_of_products .view-mode-cart .quantity .quantity_button_minus,.component_catalog_cart__panel_of_products .view-mode-cart .quantity .quantity_button_plus{
    padding: 0px 7px;
    cursor: pointer;
    background: #dff3df;
    border-radius: 50px;
    user-select: none;
    transition: 0.2s;
}
.component_catalog_cart__panel_of_products .view-mode-cart .quantity .quantity_button_minus:hover,.component_catalog_cart__panel_of_products .view-mode-cart .quantity .quantity_button_plus:hover{
    background: #44bb6e;
    color: white;
}
.component_catalog_cart__panel_of_products .view-mode-cart .td_price{
    width: 150px;
    line-height: 1;
    text-align: center;
    margin: 0px auto 0;
}
.component_catalog_cart__panel_of_products .view-mode-cart .td_price .rub_price{
    font-size: 14px;
    font-weight: normal;
    color: #249b4e;
    margin-top: 5px;
width:100%;
}
.component_catalog_cart__panel_of_products .view-mode-cart .td_onstock{
    font-size: 14px;
}
.component_catalog_cart__panel_of_products .view-mode-cart .td_onstock .green{
    color: #249b4e;
}
.component_catalog_cart__panel_of_products .view-mode-cart .td_onstock .green{
    color: #249b4e;
}
.component_catalog_cart__panel_of_products .view-mode-cart .td_onstock .red{
    color: #ee0000;
}
.component_catalog_cart__panel_of_products .view-mode-cart .td_onstock .red{
    color: #ee0000;
}
.component_catalog_cart__panel_of_products .view-mode-cart .td_onstock .red{
    font-size: 12px;
}
.component_catalog_cart__panel_of_products .view-mode-cart .td_buttons{
    width: 200px;
}
.component_catalog_cart__panel_of_products .view-mode-cart  span.name_short{
    font-size: 12px;
}
.component_catalog_cart__panel_of_products .view-mode-cart .preview_image{
    background: #f9f9f9 center no-repeat;
    border: 1px solid #ccc;
    background-size: 96% auto;
    width: 150px;
    height: 115px;
    padding: 5px;
    box-sizing: border-box;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}
.price_block {
    font-size: 21px;
    font-weight: bold;
    line-height: 1.5;
    color: var(--color-green);
    text-align: center;
    width: 110px;
}
.price_block .rub_price {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    display: block;
    color: #333;
    text-align: center;
    width: 110px;
}

  .form-group {
    display:  inline-flex;
    margin-bottom: 10px; /* Отступ между группами */
    flex-wrap: wrap;
  }
  .form-label {
    width: 200px; /* Ширина для поля с текстом */
    padding-right: 10px; /* Отступ справа от метки до поля ввода */
  }
  .form-input {
    width: 250px; /* Ширина поля ввода на всю доступную ширину */
    box-sizing: border-box; /* Учитываем границы и padding в ширине элемента */
  }
  #formdop {
    width: 250px; /* Ширина текстового поля на всю доступную ширину */
    box-sizing: border-box; /* Учитываем границы и padding в ширине элемента */
    height: 150px; /* Высота текстового поля */
    resize: none; /* Запрет изменения размера */
  }
  .required {
    color: red; /* Цвет текста обязательных полей */
  }
h2 {
	font-weight: 600;
}